# system files
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
*.sublime*

# dependencies
node_modules/

# build output
build/
dist/
.sass-cache/

# archives & design
*.ai
*.psd
*.zip
*.rar

# logs
*.log
npm-debug.*

# compiled maps
styles/*.css.map

